body{
  background-color: #EFECCA;
  font-family : Helvetica, Arial;
}
h1{
  color : #C03000;
}
h2{
  color : #4BB5C1;
}

body > nav  > ul {
  text-align: left;

}
body > nav  > ul > li{
  width : 50%;
  border-color: #660000;
  background-color: #C03000;
  padding : 10px;
  margin left : 10px;
  margin right : 10px;
  text-align : center;
  display : inline;
  border : 2px solid black;
}
body > nav > ul > li:hover{
  background-color: #009900;
}
body > nav > ul > li > a {
    color : white;
    text-decoration : none;
}

footer >p > a {
  color : #0000FF;
  text-decoration : none;
}
